*{
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "sans";
    src: url(https://piyushjoshi.tk/font/sans.ttf);
}

body{
    display: flex;
    flex-direction: column;
    background-color: #19172e;
    color: white;
    font-family: "sans";
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


footer {
    position: absolute;
    text-align: center;
    font-size: 1rem;
    bottom: 0;
    padding: 5px;
    line-height: 3vh;
}

footer a:visited {
    color: inherit;
}
